extends layout

block content
	div(style="margin-left:150px;")
		h1 Score list
		each person in people
			div
				p
					a(href="/person/#{person._id}") #{person.name}
					|  #{person._score} 
					a(href="/contact/#{person._id}") contact
